body {
    text-align: center;
    font-family: Helvetica;
}

header {
    background-image: url(../images/the-flatiron-building.png);
    background-size: cover;
    text-align: center;
}

header h1 {
    color: white;
    font-size: 70px;
    font-weight: bold;
}

ul {
    list-style: none;
}

li {
    font-size: 18px;
}

li a {
    color: white;
}

#content h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 23px;
    font-weight: bold;
}

h3+p {
    font-size: 14px;
}

#info-section #footer-picture {
    background-image: url(../images/the-flatiron-building.png);
    font-size: 23px;
    font-weight: bold;
    color: white;
}

span {
    font-size: 11px;
    color: white;
}

p#navigation-links {
    display: block;
    background-color: dimgray;
    text-align: left;
    color: white;
}

p a {
 color: white;
 margin: 2px;
}